//==========================================================
//                      Variables
//==========================================================

//Fonts


//Main palette
$header-bg: #1c211b;
$content-bg: #1c211b;
$footer-bg: #1c211b;

$body-bg: $footer-bg;
$body-fnt: 400 14px/28px 'Ubuntu', sans-serif;

$default: #fff;
$primary: #0fcabf;
$secondary: #f7931e;