/*========================   Menu   ==========================*/
@import "toggle-menu";

//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
.sf-menu {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

//--------------------------------------------------------------
//                     Menu item styles
//--------------------------------------------------------------
.sf-menu {
  li {
    &.active > a, &.sfHover > a, > a:hover {
      color: #fff;
    }
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl1 styles
//--------------------------------------------------------------
.sf-menu ul {
  display: none;
  margin-top: 0;
}
